/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: rgb(33, 33, 245);
  transition: color 100ms ease-in;
}

a:hover {
  color: rgb(0, 0, 51);
}

.content {
  width: 60%;
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5em;
  padding: 2em;
}

.standard-body {
  position: relative;
}

.content-info {
  margin: 1em 0;
}

.content-info-metadata {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  min-height: 2.625rem;
}

.js-date {
  margin-left: 10px;
}

.content-info-byline-with-image {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-info-metadata {
  margin-bottom: 20px;
}

.content-info-byline-image {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  display: block;
  margin-right: .625rem;
}

.bio-image {
  width: 110%;
}

.content-info-date {
  display: inline-block;
  color: grey;
}

.content-info-social-buttons {
  float: right;
  width: auto;
  display: inline-flex;
  align-items: center;
}

.standard-image {
  width: 100%;
}

.standard-image > img {
  width: 100%;
}

.body-blockquote {
  border-left: .25rem solid #f3f3f3;
  color: #343434;
  padding: .625rem 1.25rem .625rem 1rem;
}

#cursor {
  position: fixed;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: 99;
  width: 1.35em;
  height: 1.35em;
  transition: transform 100ms;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}

.button:hover {
  cursor: pointer;
  transform: translate(0, -1px);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.button:active {
  transform: translate(0, 0);
  text-shadow: none;
}

.appear {
  display: block !important;
}

#back-button {
  position: fixed;
  margin: 0.5em;
  top: 0;
  left: 0;
}

#back-button > span {
  font-size: 2em;
}

#about-button {
  position: fixed;
  margin: 0.5em;
  top: 0;
  right: 0;
}

#about-button > span {
  font-size: 2em;
}

#close-button {
  position: fixed;
  top: 0;
  left: right;
  margin: 0.5em;
}

#about-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  min-height: 500px;
  height: 60%;
  width: 60%;
  max-width: 700px;
  background: white;
  padding: 4em;
  z-index: 9;
  font-size: 2em;
}

.modal-content {
  line-height: 1.5em;
}

#close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .content {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  #about-modal {
    transform: none;
    left: 0;
    top: 0;
    height: 100vh !important;
    min-height: 100vh !important;
    width: 100vw;
    padding: 2em 1em;
  }
}